<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cheetos_control)/config/cheetos_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/cheetos" args="joint_state_controller
					  front_left_wheel_velocity_controller
					  front_right_wheel_velocity_controller
					  suspension_front_left
					  suspension_front_right
            suspension_rear

"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/cheetos/joint_states" />
  </node>

</launch>
