
<launch>
<!--
  <arg name="x_pos" default="3.0"/>
  <arg name="y_pos" default="0.5"/>
  <arg name="z_pos" default="0.6"/>
-->
<!--
  <arg name="x_pos" default="0.6"/>
  <arg name="y_pos" default="2.75"/>
  <arg name="z_pos" default="0.035792"/>
-->

  <arg name="x_pos" default="0.535"/>
  <arg name="y_pos" default="3.33"/>
  <arg name="z_pos" default="0.016"/>

  <arg name="R_pos" default="0.0"/>
  <arg name="P_pos" default="0.0"/>
  <arg name="Y_pos" default="1.57"/>

  <param name="robot_description" command="cat '$(find cheetos_description)/urdf/cheetos.urdf'" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model  cheetos -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg R_pos) -P $(arg P_pos) -Y $(arg Y_pos) -param robot_description" />
</launch>
